.place__img {
    align-self: flex-start;
    max-width: 460px;
    margin-right: 40px;
}

@media screen and (max-width: 1279px) {
    .place__img {
        max-width: 440px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__img {
        max-width: 340px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__img {
        align-self: center;
        max-width: 50%;
        margin: 0 0 32px 0;
    }
}

@media screen and (max-width: 550px) {
    .place__img {
        max-width: 100%;
    }
}